node_modules
**/node_modules/**/*
coverage/
junit.xml
src/auto_generated.ts

/dist/*
!/dist/docs/
!/dist/docs/*
!/dist/docs/**/*

*.gcd

cdn.zip
**/.DS_Store
*.iml
.yw_pipeline/__pycache__/yw_pipeline.cpython-310.pyc
.yw_pipeline/__pycache__/yw_pipeline.cpython-311.pyc
